@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');


/* fonts & colors

#023047
#ffb703
#fb8500
#EE9B00
#edf2f4
#d00000
#ca6702
#EF5133      
 */

    {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Source Code Pro', monospace;
}

/* general style */
body {
    background: #023047;
}

.workingdir p {
    font-size: 2rem;
}


/* header style */
/* main style */

header {
    text-align: center;
    display: grid;
}

h1 {
    color: #ffb703;
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}

h1:nth-of-type(3) {
    color: olivedrab;


}

header h1 img {
    border-radius: 30px;

}

article h2 {
    color: #fb8500;
    font-size: 2.5rem;
}

/* header + main */
main article p,
.buchstaben {
    color: #edf2f4;
    font-size: 2rem;
}

.buchstaben p::first-letter {
    color: #fb8500;
    font-weight: 700;
}

.whatsgit {
    background-color: #fb8500;
    width: 80px;
    height: 80px;
    position: sticky;
    top: 50px;
    border-radius: 10%;

}

main article {
    display: flex;
    min-height: 70vh;
    max-width: 100%;
    place-items: center;
    gap: 1%;
    margin-left: 7%;
    margin-right: 7%;
}

main article h2 {
    padding-right: 20px;
    text-align: end;
    border-right: 2px dotted yellow;

}

main article p:first-of-type {
    color: #c1c9cc;
    padding: 7px;

}

main article p:nth-of-type(2) {
    color: #adb2b4;
    border-left: 2px solid;
    border-right: 2px solid;
    padding: 0 2% 0 2%;
}

main article p:last-of-type {
    color: #4a8fab;
}


.gitvsgithub {
    display: block;
    border-radius: 5px;
    margin: 5% 0 5% 32%;
}

.whatsgitgreen {
    background-color: olivedrab;
    width: 80px;
    height: 80px;
    position: sticky;
    top: 50px;
    border-radius: 30%;
}



.whatsgitwhite {
    background-color: #edf2f4;
    width: 80px;
    height: 80px;
    position: sticky;
    top: 50px;
    border-radius: 50%;
}

.whatsgitwhite2 {
    background-image: ("../img/kisspng-github-computer-icons-bootstrap-github-5ac018aa3b1cd1.3922050715225386662421.jpg");
    background-size: cover;
    /* background-color: #23b5ee; */
    width: 100%;
    background-size: contain;
    position: sticky;
    top: 50px;
    border-radius: 50%;
}


.whatsgitwhite3 {

    background-color: #022938;
    width: 30px;
    height: 30px;
    position: sticky;
    top: 75px;
    left: 30px;
    border-radius: 50%;
}

.whatsgitwhite4 {

    background-color: #02293886;
    width: 80px;
    height: 80px;
    position: sticky;
    top: 50px;

    border-radius: 50%;
}

.three {
    display: inline-block;
}

.workingdirectory {
    display: flex;
    /* border-radius: 50%; */


}

.workingdirectory img {
    margin: 10%;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 15rem 9rem #031620;
}

.workingdirectory p {
    color: #fff;
    font-size: 2rem;
    margin-left: 20%;
}

.stagedarea {
    display: inline-block;
    margin: 9rem 0 3rem 9rem;

}

.stagedarea img {
    display: inline-block;
    margin: 9rem 0 15rem 9rem;
    border-radius: 40%;
    border: 1px solid white;
    box-shadow: 15rem 9rem #031620;

}

.stagedarea p {
    color: white;
    font-size: 2rem;
    width: 40%;
    margin-left: 45%;

}

.gitdirectoryrepo {
    display: inline-block;
    margin: 9rem 0 15rem 9rem;
}

.gitdirectoryrepo p {
    color: white;
    font-size: 2rem;
    width: 40%;
    margin: 0 auto;
}

.gitdirectoryrepo img {
    display: inline-block;
    margin-left: 42%;
    margin-top: 5%;
    border-radius: 40%;
    border: 1px solid white;
    box-shadow: 15rem 9rem #031620;

}

.branching-merge {
    display: block;
    border-radius: 5px;
    margin: 5% 0 5% 32%;
}

h2 {
    font-size: 3rem;
    color: #ffb703;
    text-align: center;
    margin-top: 20%;
}

.git-terminal {
    text-align: center;
    ;
}

.buchstaben {
    margin-top: 20%;
}

.buchstaben p {
    margin-left: 20%;
}

.terminal {
    margin: 10vh 0 0 21%;
}

.terminalbefehle h2 {
    text-align: center;
    margin: 5% 0;
}


.terminal img {
    width: 80%;
    margin-bottom: 20%;
}

.whatsgit-terminal {
    background-color: #ffb703;
    width: 80px;
    height: 80px;
    position: sticky;
    top: 50px;
    border-radius: 30%;
}