@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');


/* fonts & colors

#023047
#ffb703
#fb8500
#EE9B00
#edf2f4
#d00000
ca6702
 */

    {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Source Code Pro', monospace;
}

/* general style */
body {
    background: #023047;
}

.workingdir p {
    font-size: 2rem;
}

/* header style */
/* main style */

header {
    text-align: center;
    display: grid;
}

h1 {
    color: #ffb703;
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}

h1:nth-of-type(3) {
    color: olivedrab;


}

header h1 img {
    border-radius: 30px;

}

article h2 {
    color: #fb8500;
    font-size: 2.5rem;
}

/* header + main */
article p,
.buchstaben {
    color: #edf2f4;
    font-size: 2rem;
}

.buchstaben p::first-letter {
    color: #fb8500;
    font-weight: 700;
}

.whatsgit {
    background-color: #fb8500;
    width: 80px;
    height: 80px;
}

main article {
    display: flex;
    margin: 3rem;

}

main article h2 {
    padding-right: 20px;
    text-align: end;
}

main article p:first-of-type {
    color: #c1c9cc;
}

main article p:nth-of-type(2) {
    color: #adb2b4;
}

main article p:last-of-type {
    color: #7b8082;
}


.gitvsgithub {
    display: block;
    border-radius: 5px;
    margin: 5% 0 5% 32%;
}

.whatsgitgreen {
    background-color: olivedrab;
    width: 80px;
    height: 80px;
}

.whatsgitwhite {

    background-color: #edf2f4;
    width: 80px;
    height: 80px;

}

.three {
    display: inline-block;
}

.workingdirectory {
    display: inline-block;
    margin: 50px 50px;
}

.workingdirectory p {
    color: #fb8500;
    font-size: 2rem;
}


.stagedarea {
    display: inline-block;
    margin: 50px 50px;
}

.stagedarea p {
    color: white;
    font-size: 2rem;
}

.gitdirectoryrepo {
    display: inline-block;
    margin: 50px 50px;
}

.gitdirectoryrepo p {
    color: white;
    font-size: 2rem;
}

.branching-merge {
    display: block;
    border-radius: 5px;
    margin: 5% 0 5% 32%;
}

h2 {
    font-size: 3rem;
    color: #ffb703;
    text-align: center;
}

.git-terminal {
    text-align: center;
}

.buchstaben {
    margin-top: 100px;
}

.buchstaben p {
    margin-left: 20%;
}